<br>
<h4 style="text-align: center;">Detalle del caso seleccionado</h4> <br>
  <div>
    <label> <span class="bolded">Casi ID:</span>  00001 </label> <br>
    <label> <span class="bolded">Paciente:</span> Pepito Perez</label> <br>
    <label> <span class="bolded">Descripción:</span> Las quemaduras pueden causar hinchazón, ampollas, cicatrices y </label>
    <label> <span class="bolded">Foto:</span> <img src="https://cdn-icons-png.flaticon.com/512/6670/6670299.png" width="50%" height="50%"> </label> <br>


</div>
<div class="center-button">

  <button (click)="onNoClick()">Regresar</button>
<button>Reclamar</button>
</div>




