<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <div class="collapse navbar-collapse">
      <a class="navbar-brand mx-3">DermoApp</a>
      <div class="subs">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Casos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Diagnósticos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Agenda</a>
          </li>
          <div><h4>Hola Doctor!</h4>

          </div>
        </ul>
      </div>
    </div>

    <br />
    <br />
    <br />
  </div>
  <div>

  </div>


</nav>

