nav {
  background: #1e3f52;
  width: 100%;
  z-index: 100;
  padding: 8px;

}



nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  font-size: 20px;
}

#titulo {
  padding-right: 800px;
}


nav ul li a {
  display: block;
  padding: 10px;
  color: #fff;
}

nav ul li:hover {
  background: rgb(214, 214, 214);
}

img{
  padding-top: 10px;
  padding-right: 1px;
}
