<app-header></app-header>
<br><br>
<h5 style="text-align: center;">Casos reclamados</h5>
<br><br>
<div class="center-table">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Caso ID</th>
      <th scope="col">Descripción</th>
      <th scope="col">Paciente</th>
      <th scope="col">Estado</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <br>
  <tbody>
    <tr  class="listar-casos">
      <td>test 1</td>
      <td>test 2</td>
      <td>test 3</td>
      <td>test 4</td>
      <td style="color: red;">test</td>

      <button>Dar Diagnóstico</button>

    </tr>

  </tbody>

</table>
</div>
