<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <br><br><br><br>
  <div>
  <div id="form">
    <h1 style="text-align: center;">DermoApp</h1>
    <h4 style="text-align: center;">Formulario de registro para médicos dermatólogos</h4>

    <form [formGroup]="usuarioForm" (ngSubmit)="registrarUsuario()">
      <label #error style="color: red; text-align: center;"  *ngIf="error"> Algo anda mal. Revisar los valores ingresados </label>

      <label for="nombre">Nombre Completo *: </label> <br>
      <input type="text" formControlName="nombre" novalidate><br>
      <div  *ngIf="
      usuarioForm.get('nombre')!.hasError('required') &&
      usuarioForm.get('nombre')!.touched
      ">
        <p style="color: red;">Nombre requerido</p>
      </div>

      <label for="pais">País *: </label> <br>
      <select formControlName="pais" required>
        <option value="co" selected>Colombia</option>
        <option value="vz" selected>Venezuela</option>
      </select>
      <br>
      <div  *ngIf="
      usuarioForm.get('pais')!.hasError('required') &&
      usuarioForm.get('pais')!.touched
      ">
        <p style="color: red;">País requerido</p>
      </div>

      <label for="ciudad">Ciudad *</label> <br>
      <select formControlName="ciudad" required>
        <option value="bog" selected>Bogota</option>
        <option value="ccs" selected>Caracas</option>
      </select>
      <br>
      <div  *ngIf="
      usuarioForm.get('ciudad')!.hasError('required') &&
      usuarioForm.get('ciudad')!.touched
      ">
        <p style="color: red;">Ciudad requerida</p>
      </div>


      <label for="direccion">Dirección *</label> <br>
      <input type="text" formControlName="direccion" required><br>
      <div  *ngIf="
      usuarioForm.get('direccion')!.hasError('required') &&
      usuarioForm.get('direccion')!.touched
      ">
        <p style="color: red;">Dirección requerida</p>
      </div>

      <label for="licencia">Número de licencia *</label> <br>
      <input type="text" formControlName="licencia" required><br>
      <div  *ngIf="
      usuarioForm.get('licencia')!.hasError('required') &&
      usuarioForm.get('licencia')!.touched
      ">
        <p style="color: red;">Licencia requerida</p>
      </div>

      <label for="especialidad">Especialidad *</label> <br>
      <select formControlName="especialidad" required>
        <option value="General" selected>General</option>
        <option value="Clinica" selected>Clinica</option>
        <option value="Cosmetica" selected>Cosmetica</option>
        <option value="Laser" selected>Laser</option>
        <option value="Quirurgica" selected>Quirurgica</option>
      </select>
      <br>
      <div  *ngIf="
      usuarioForm.get('especialidad')!.hasError('required') &&
      usuarioForm.get('especialidad')!.touched
      ">
        <p style="color: red;">Especialidad requerida</p>
      </div>

      <label for="correo">Correo *</label> <br>
      <input type="email" formControlName="correo" required><br>
      <div  *ngIf="
      usuarioForm.get('correo')!.hasError('required') &&
      usuarioForm.get('correo')!.touched
      ">
        <p style="color: red;">Correo requerido</p>
      </div>

      <br><br>

      <button id="submit" type="submit" [disabled]="!usuarioForm.valid" >Registrarse </button>
      <button id="submit" type="submit" ><a href="/">Regresar </a></button>



    </form>
  </div>
</div>
  <footer>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>By team</p>
  </footer>




</body>

</html>
