<app-header></app-header>
<br><br>
<h5 style="text-align: center;">{{'AGENDA.TITULO' | translate}}</h5>
<br><br>
<div class="center-table">
  <table *ngIf="citas != undefined" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{'AGENDA.FECHA' | translate}}</th>
        <th scope="col">{{'AGENDA.PACIENTE' | translate}}</th>
      </tr>
    </thead>
    <br>
    <tbody>
      <tr class="listar-casos">
        <td> {{citas.fecha}}</td>
        <td> {{citas.paciente}} </td>
      </tr>
    </tbody>

  </table>
</div>
