<app-header></app-header>
<div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Caso ID</th>
      <th scope="col">Descripción</th>
      <th scope="col">Paciente</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of casos">
      <th scope="row"></th>
      <td>{{casos | json}}</td>
      <td>{{casos}}</td>
      <td>@mdo</td>
      <td><button>Ver detalle</button></td>
    </tr>

  </tbody>

</table>

</div>
