<app-header></app-header>
<br><br>
<h5 style="text-align: center;">Casos nuevos o sin médico asignado</h5>
<br><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Caso ID</th>
      <th scope="col">Descripción</th>
      <th scope="col">Paciente</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let caso of casos" class="listar-casos">
      <td>{{caso.fecha}}</td>
      <td>{{caso.id}}</td>
      <td>{{caso.descripcion}}</td>
      <td>{{caso.nombre_paciente}}</td>
      <button (click)="openDialog()">Ver Detalle</button>

    </tr>

  </tbody>

</table>

