<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <br><br><br><br>
  <div>
    <h1 style="text-align: center;">¡Registro exitoso!</h1>
    <h4 style="text-align: center;">Datos para iniciar sesión</h4>

    <p style="text-align: center;">Correo:  {{email}}</p>
    <p style="text-align: center;">Contraseña: {{password}} </p>
    <button><a href="/">Página inicio </a></button>
    <br><br><br>

  </div>

  <footer>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>By team</p>
  </footer>




</body>

</html>
