<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <br><br><br><br>
  <div>
    <h1 style="text-align: center;">DermoApp</h1>
    <h4 style="text-align: center;">Formulario de registro para médicos dermatólogos</h4>
    <form action="" method="post" id="form">

      <label for="nombre">Nombre completo *</label> <br>
      <input type="text" id="nombre" name="nombre" required><br>


      <label for="pais">Pais *</label><br>
      <input type="text" id="pais" name="pais" required><br>


      <label for="ciudad">Ciudad *</label><br>
      <input type="text" id="ciudad" name="ciudad" required><br>

      <label for="direccion">Dirección *</label><br>
      <input type="text" id="direccion" name="direccion" required><br>

      <label for="licencia">Número de licencia *</label><br>
      <input type="number" id="licencia" name="licencia" required><br>

      <label for="especialidad">Especialidad *</label><br>
      <input type="text" id="especialidad" name="especialidad" required><br>

      <label for="correo">Correo electrónico *</label><br>
      <input type="email" id="mail" name="correo" required><br>

      <label for="tipousuario">Tipo de usuario* </label><br>
      <input type="text" id="tipousuario" name="tipousuario" required><br><br>

      <button type="submit"><a href="/registro/registro-exitoso"></a>Registrarse </button>
      <button><a href="/">Regresar </a></button>

    </form>
  </div>
  <footer>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>By team</p>
  </footer>




</body>

</html>
