<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<header>
  <div>
    <h1>DermoApp</h1>
    <h4>Formulario de registro para médicos pedriatras</h4>
  </div>
</header>

<body>
  <form>
    <ul>
      <li>
        <label for="nombre">Nombre completo *</label>
        <input type="text" id="nombre" name="usuario_name">
      </li>
      <li>
        <label for="nacionalidad">Nacionalidad *</label>
        <input type="text" id="nacionalidad" name="usuario_nacionalidad">
      </li>
      <li>
        <label for="ciudad">Ciudad *</label>
        <input type="text" id="ciudad" name="usuario_ciudad">
      </li>
      <li>
        <label for="direccion">Dirección *</label>
        <input type="text" id="direccion" name="usuario_direccion">
      </li>
      <li>
        <label for="licencia">Número de licencia *</label>
        <input type="number" id="licencia" name="usuario_licencia">
      </li>
      <li>
        <label for="especialidad">Especialidad *</label>
        <input type="text" id="mail" name="user_mail">
      </li>
      <li>
        <label for="email">Correo electrónico *</label>
        <input type="email" id="mail" name="usuario_email">
      </li>
    </ul>
  </form>

  <button><a>Registrarse </a></button>
  <button><a href="/">Regresar </a></button>


</body>

</html>
