<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <br><br><br><br>
  <div>
    <h1 style="text-align: center;">DermoApp</h1>
    <h4 style="text-align: center;">Formulario de registro para médicos pediatras</h4>
    <form>

      <label for="nombre">Nombre completo *</label> <br>
      <input type="text" id="nombre" name="usuario_name"><br>


      <label for="nacionalidad">Nacionalidad *</label><br>
      <input type="text" id="nacionalidad" name="usuario_nacionalidad"><br>


      <label for="ciudad">Ciudad *</label><br>
      <input type="text" id="ciudad" name="usuario_ciudad"><br>

      <label for="direccion">Dirección *</label><br>
      <input type="text" id="direccion" name="usuario_direccion"><br>

      <label for="licencia">Número de licencia *</label><br>
      <input type="number" id="licencia" name="usuario_licencia"><br>

      <label for="especialidad">Especialidad *</label><br>
      <input type="text" id="mail" name="user_mail"><br>

      <label for="email">Correo electrónico *</label><br>
      <input type="email" id="mail" name="usuario_email"><br><br>

      <button><a>Registrarse </a></button>
      <button><a href="/">Regresar </a></button>

    </form>
  </div>
  <footer>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>By team</p>
  </footer>




</body>

</html>
